.page.icons
  .bd
    .cont
      wheader(ctitle="'Icons'" cbuttons='vars.header_btns')
      i.weui_icon_msg.weui_icon_success
      i.weui_icon_msg.weui_icon_info
      i.weui_icon_msg.weui_icon_warn
      i.weui_icon_msg.weui_icon_waiting
      i.weui_icon_safe.weui_icon_safe_success
      i.weui_icon_safe.weui_icon_safe_warn
      .icon_sp_area
        i.weui_icon_success
        i.weui_icon_success_circle
        i.weui_icon_success_no_circle
        i.weui_icon_info
        i.weui_icon_waiting
        i.weui_icon_waiting_circle
        i.weui_icon_circle
        i.weui_icon_warn
        i.weui_icon_download
        i.weui_icon_info_circle
        i.weui_icon_cancel
